.petProfile {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1;
	position: relative;
}

.petProfile #petProfileImage {
	background-image: url('../../images/cuteDoggos.jpeg');
	background-size: cover;
	background-position: 50%;

	height: 30rem;
	width: 30rem;
	border-radius: 50%;

	margin: 0 auto;

	grid-column-end: span 1;
}

.petProfile #petInfo {
	grid-column-end: span 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 1fr;
}

.petProfile header h3 {
	padding-top: 2rem;
	margin: 0;
	grid-column-end: span 1;
	font-size: 4rem;
}

.petProfile header h4 {
	margin: 3rem 0;
	grid-column-end: span 1;
	font-size: 2rem;
}

.petProfile p {
	grid-column-end: span 1;
}

.petProfile footer {
	padding-left: 10rem;
	grid-column-end: span 1;
	display: grid;
	grid-template-columns: 1fr 1fr  1fr 1fr;
	grid-template-rows: 1fr;
}

.petProfile footer input {
	grid-column-end: span 1;
	display: inline-block;
	height: 50px;
	margin: 0 1rem;
}

.petProfile footer #favorite {
	border-color: var(--accentColor);
	border-style: solid;
}

.petProfile footer #adopt {
	border: none;
	background-color: var(--accentColor);
}

#petPhotos{
	background-image: url('../../images/cuteDoggos.jpeg');
	background-size: cover;

	height: 40rem;
	width: 40rem;
	background-position: 50%;

	margin: 0 auto;
}

#comments h4 {
	margin: 3rem 0;
	grid-column-end: span 1;
	font-size: 2rem;
}

.comment {
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: 3fr 1fr;
}

.comment img {
	grid-column-end: span 1;
	width: 5rem;
	border-radius: 50%;
	margin: 1rem auto;
}

.comment .user {
	margin: 0 auto;
	font-style: italic;
	font-size: 1.5rem;
}

.comment .date {
	text-align: right;
}

#comments form textarea{
	width: 100%;
	height: 10rem;
	font-size: 1.2rem;
}