.petProfile {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1;
	position: relative;
}

.petProfile #petProfileImage {
	background-size: cover;
	background-position: 50%;

	height: 30rem;
	width: 30rem;
	border-radius: 50%;

	margin: 0 auto;

	grid-column-end: span 1;
}

.petProfile #petInfo {
	grid-column-end: span 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 1fr;
}

.petProfile header h3 {
	padding-top: 2rem;
	margin: 0;
	grid-column-end: span 1;
	font-size: 3rem;
}

.petProfile header h4 {
	margin: 3rem 0;
	grid-column-end: span 1;
	font-size: 2rem;
}

.petProfile p {
	grid-column-end: span 1;
}

.petProfile footer {
	padding-left: 10rem;
	grid-column-end: span 1;
	display: grid;
	grid-template-columns: 1fr 1fr  1fr 1fr;
	grid-template-rows: 1fr;
}

.petProfile footer input {
	grid-column-end: span 1;
	display: inline-block;
	height: 50px;
	margin: 0 1rem;
}

.petProfile footer #favorite {
	border-color: var(--accentColor);
	border-style: solid;
	cursor: pointer;
}

.petProfile footer #adopt {
	border: none;
}

.petPhotos{
	height: 40rem;
	background-position: 50%;
	margin: 0 auto;
}

#comments {
	width: 70%;
	margin: 0 auto;
}

#comments h4 {
	margin: 3rem 0;
	grid-column-end: span 1;
	font-size: 2rem;
}

.comment {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 3fr 1fr;
	margin-bottom: 3rem;
	border-bottom: solid;
	border-width: 0.1rem;
}

.comment p {
	margin: auto 0;
}

.comment img {
	grid-column-end: span 1;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	margin: 1rem auto;
}

.comment .user {
	margin: 0 auto;
	font-style: italic;
	font-size: 1.2rem;
}

.comment .date {
	text-align: right;
}

#comments form {
	margin-top: 5rem;
}

#comments form textarea{
	width: 100%;
	height: 10rem;
}

#comments form input {
	border: none;
	margin: 1rem 0;
	padding: 1rem;
	font-size: 1.3rem;
}