form input {
    display: block;
}

form label {
    display: none;
}

form > input:last-child, form textarea:last-child, form select:last-child, form[name=addPet] .simple-2column-grid input {
    margin-bottom: 0;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="date"],
form input[type="textarea"],
textarea,
select {
    border: 1px solid #c0c0c0;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    outline: none;
    width: 100%;
    transition: border .2s;
    font-family: inherit;
    background-color: var(--lightTextColor)
}

form input[type=file] {
    font-family: inherit;
}

form button.simpleButton {
    border: 1px solid #c0c0c0;
    font-size: 0.9em;
}

form button.contrastButton {
    border: none;
}

textarea {
    resize: vertical;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="date"]:focus,
form input[type="textarea"]:focus,
textarea:focus,
select:focus,
form button:focus {
    border: 2px solid var(--accentColor);
}

form input[type="submit"] {
    width: 100%;
    background-color: var(--accentColor);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    font-family: inherit;
    cursor: pointer;
    transition: background-color .2s;
    outline: none;
}

form input[type="submit"]:hover {
    background-color: var(--accentColorDarker);
}

form[name=addPet] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

form[name=addPet] img {
    max-height: 10rem;
    max-width: 100%;
    z-index: 5;
}

img.profilePicture {
    border: 4px solid var(--accentColor);
}

div.photos > div {
    position: relative;
    display: inline-block;
}

div.photos > div > div.remove {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 1rem;
    height: 1rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    transition: color .2s;
}
div.photos > div > div.remove:hover {
    color: var(--darkTextColor);
}

.formField {
    position: relative;
    margin-bottom: 1rem;
}
.formField.required:after {
    content: "*";
    position: absolute;
    right: -0.5rem;
    top: 0;
    color: var(--accentColorDarker);
}

section.authForm {
    padding-left: calc(var(--rightLeftPadding) );
    padding-right: calc(var(--rightLeftPadding) );
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5rem;
}

p.notice {
    font-size: 0.9em;
}

section.authForm > div {
    width: 30vw;
    min-width: 20rem;
}
section.authForm .photoContainer > img {
    width: 10vw;
    min-width: 15rem;
}

section.authForm .photoContainer {
    margin-bottom: 1rem;
}

section.searchForm {
    background-color: var(--accentColorLighter);
}

section.searchForm > form {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

section.searchForm > form > * {
    margin: 0;
}

@media (min-width: 600px) and (max-width: 1100px) {

    section.searchForm > form {
        grid-template-columns: 1fr 1fr;
    }

    section.searchForm > form > #search {
        grid-column-end: span 2;
    }

    article.tile {
        width: 50%;
    }

}

@media (max-width: 600px) {

    section.searchForm > form {
        grid-template-columns: 1fr;
    }

    form[name=addPet] {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    form[name=addPet] > div:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    article.tile {
        width: 100%;
    }

    section.authForm {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    section.authForm > img {
        grid-row-start: 1;
        grid-row-end: 2;
    }

}

