form input {
    display: block;
}

form label {
    display: none;
}

form > input, form > textarea, form > select, form[name=addPet] .simple-2column-grid {
    margin-bottom: 1rem;
}

form > input:last-child, form > textarea:last-child, form > select:last-child {
    margin-bottom: 0;
}

form input[type="text"], 
form input[type="password"], 
form input[type="email"], 
form input[type="date"],
textarea,
select {
    border: 1px solid #c0c0c0;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    outline: none;
    width: 100%;
    transition: border .2s;
    font-family: inherit;
    background-color: var(--lightTextColor)
}

form button {
    border: 1px solid #c0c0c0;
    font-size: 0.9em;
}

textarea {
    resize: vertical;
}

form input[type="text"]:focus, 
form input[type="password"]:focus, 
form input[type="email"]:focus, 
form input[type="date"]:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--accentColor);
}

form input[type="submit"] {
    width: 100%;
    background-color: var(--accentColor);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    font-family: inherit;
    cursor: pointer;
    transition: background-color .2s;
    outline: none;
}
form input[type="submit"]:hover {
    background-color: var(--accentColorDarker);
}

section.authForm {
    padding-left: calc(var(--rightLeftPadding) );
    padding-right: calc(var(--rightLeftPadding) );
    max-width: 50rem;
}

section.searchForm {
    background-color: var(--accentColorLighter);
}

section.searchForm > form {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-gap: 1rem;
}

section.searchForm > form > * {
    margin: 0;
}




