
section div.image {
	background-size: cover;
	background-position: 50%;
	grid-column-end: span 1;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	margin: 0 auto;
}

section.petManagement {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.petManagementPets span.tagLabel {
    display: inline-block;
    margin-left: 2rem;
}

section.petManagement > div {
    background-color: var(--lightGrey);
    display: grid;
    grid-template-rows: auto;
    padding: 1rem;
    margin-top: 1rem;
    grid-gap: 2rem;
    align-items: center;
}

section.petManagement > div:nth-of-type(2n) {
    background-color: #fafafa;
}

div.petManagementPets {
    grid-template-columns: 1fr;
}

div.petManagementPets > p, div.petManagementAdoption > p {
    margin: 0;
}

div.petManagementComments {
    grid-template-columns: auto 1fr auto auto;
}

div.petManagementAdoption {
    grid-template-columns: 1fr auto auto;
}

div.petManagementAdoption button {
    background-color: transparent;
    padding: 0;
    font-size: 1.2em;
}

div.petManagementAdoption button > i {
    margin: 0;
}


.petManagement .icofont-ui-check {
    color:  var(--confirmColor);
    transition: color .2s;
}

.petManagement .icofont-ui-close {
    color: var(--cancelColor);
    transition: color .2s;
}

.petManagement .icofont-ui-check:hover, .petManagement .icofont-ui-close:hover {
    color:  var(--darkTextColor);
}


@media (max-width: 600px) {
    .petManagementPets > p > * {
        display: block;
    }
    .petManagementPets > p > span.tagLabel {
        margin-left: 0;
        margin-top: 1rem;
    }

    div.petManagementComments {
        text-align: center;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    div.petManagementComments > * {
        margin: 0;
        padding: 0;
    }
}

