@import url("../../style.css");

.petlist {
    padding-top: 0;
}

#list-select {
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    margin: auto 1rem;
    font-family: 'Lora', serif;
}

#list-select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

#list-select option:hover {
    background-color: #333333;
}

#select {
    display: flex;
    align-items: center;
}

.textButtonPair > div{
    display: flex;
    align-items: center;
}

.textButtonPair form, .textButtonPair .edit {
    display: none;
}

.profile_header footer label {
    position: relative;
    right: 2rem;
    cursor: pointer;
}

.textButtonPair form > input[type="text"], .textButtonPair form > textarea {
    width: auto;
    margin-bottom: 0;
}

.textButtonPair button {
    margin-left: 0.5rem;
    background-color: transparent;
    transition: color .2s;
    color: var(--accentColorDarker);
}

.textButtonPair button:hover {
    color: var(--darkTextColor);
}

#username > strong::before{
    content: "@";
}

/* * {
    border: 1px solid;
} */