@import url("../../style.css");

.petlist {
    padding-top: 0;
}

#listSelect {
    cursor: pointer;
    margin: auto 1rem;
    font-family: 'Lora', serif;
    width: auto;
}

#select {
    display: flex;
    align-items: center;
}

.textButtonPair > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.textButtonPair form, .textButtonPair .edit {
    display: none;
}
.profileHeader {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 5rem;
	background-color: var(--lightGrey);
	align-items: center;
}
.profileHeader button:focus {
    border: none;
}

.profileHeader textarea {
    height: 7rem;
}

.profileHeader > div:first-of-type {
	background-size: cover;
	background-position: 50%;

	width: 20vw;
	height: 20vw;
	min-width: 10rem;
	min-height: 10rem;
	border-radius: 50%;

	grid-column-end: span 1;
}

.profileHeader header h3 {
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.profileHeader header > h4, .profileHeader header strong {
	font-size: 1.5rem;
	margin: 0;
}

.profileHeader footer {
	margin-top: 3rem;
}

.profileHeader footer > p {
	display: inline;
}

.profileHeader footer label {
    position: relative;
    cursor: pointer;
}

.profileHeader input[type=checkbox] {
    display: none;
}

.textButtonPair form > input[type="text"], .textButtonPair form > textarea {
    width: auto;
    margin-bottom: 0;
}

.textButtonPair button {
    margin-left: 0.5rem;
    background-color: transparent;
    transition: color .2s;
    color: var(--accentColorDarker);
}

.textButtonPair button:hover {
    color: var(--darkTextColor);
}

#username > strong::before{
    content: "@";
}

#userResults article.tile,
#petResults article.tile {
    width: 100%;
}

#userResults .tileContainer,
#petResults .tileContainer {
    margin: 0.3rem;
}

.tileContainer {
    width: 20%;
    color: inherit;
    transition: color .2s;
}

.tileContainer:hover {
    color: var(--accentColorDarker);
}

#list:first-child {
    margin-bottom: 5rem;
}

#lists > div:not(:first-of-type) {
    display: none;
}

#ListInput {
    grid-column-end: span 2;
}

#ListInput + button {
    grid-column-end: span 2;
}

#ListInput input, #ListInput select {
    margin-bottom: 1rem;
}

.list > p {
    margin-top: 0;
}

/* * {
    border: 1px solid;
} */


@media (max-width: 600px) {
    .profileHeader {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 1rem;
        text-align: center;
    }

    .profileHeader footer {
        text-align: center;
        margin: 0;
    }

    #editProfileLabel {
        margin-top: 0;
    }

    .profileHeader header h3 {
        font-size: 2rem;
    }

    #userList .simple-2column-grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    #userList .simple-2column-grid form {
        margin-top: 1rem;
    }

    #userList .simple-2column-grid form button {
        margin-top: 1rem;
    }

    #lists > .petGrid {
        grid-template-columns: 1fr;
    }
}

