@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Mulish:wght@400;600;800&display=swap');


* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    --rightLeftPadding: 10vw;
    --accentColor: rgb(90, 208, 237);
    --accentColorDarker: rgb(3, 152, 189);
    --accentColorLighter: #d2f2fa;
    --lightGrey: #e6e6e6;
    --darkTextColor: rgb(12, 12, 12);
    --lightTextColor: rgb(245, 245, 245);
    --footerTopColor: rgb(32, 32, 32);
    --footerBottomColor: var(--darkTextColor);
    --menuItemHoverBG: rgba(245, 245, 245, .5);
    --confirmColor:  rgb(3, 146, 51);
    --cancelColor:  rgb(146, 3, 3);
    margin: 0;
    color: var(--darkTextColor);
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

body > header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem var(--rightLeftPadding);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1rem;
    align-items: center;
    color: var(--lightTextColor);
    z-index: 1000;
    transition: background-color .3s;
}

#hamburguer, body > header > label {
    display: none;
}

body > header a {
    color: var(--lightTextColor);
    text-decoration: none;
}

body > header a:hover {
    color: var(--lightTextColor);
}

body > header > a > h1 {
    margin: 0;
}

body > header > nav:last-child {
    text-align: right;
}

body > header > nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body > header > nav > ul > li {
    margin-right: 0.5rem;
    display: inline-block;
}
body > header > nav > ul > li > a, a.simpleButton {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: inherit;
    transition: background-color .3s, color .3s;
    border-radius: 1rem;
}

body > header > nav > ul > li > a.active {
    color: var(--accentColor);
}

body > header > nav > ul > li > a:hover {
    color: var(--darkTextColor);
    backdrop-filter: blur(10px);
    background-color: var(--menuItemHoverBG);
}

body > header > nav > ul > li:last-child {
    margin: 0;
}

body > header.filledMenu {
    background-color: var(--darkTextColor);
}

a {
    text-decoration: none;
    color: var(--accentColorDarker);
    transition: color .2s;
    cursor: pointer;
}

a:hover {
    color: var(--darkTextColor);
}

.simpleButton {
    border-radius: 1rem;
    transition: color.2s, background-color .2s;
    color: var(--darkTextColor);
    text-decoration: none;
}

.simpleButton:hover {
    color: var(--lightTextColor);
    background-color: var(--darkTextColor);
    border-radius: 1rem;
}

.contrastButton {
    border-radius: 1rem;
    background-color: var(--accentColor);
    transition: color .2s, background-color .2s;
    color: var(--lightTextColor);
    text-decoration: none;
}

.contrastButton:hover {
    color: var(--lightTextColor);
    background-color: var(--accentColorDarker);
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
}

button > i {
    font-size: 0.8em;
    margin-right: 0.6rem;
}

body > section {
    padding: 3rem var(--rightLeftPadding) 3rem var(--rightLeftPadding);
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

body > section > img {
    width: 100%;
}

body > section.simpleGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
}

body > section.simpleGrid.inverse {
    grid-template-columns: 2fr 1fr;
}


body > section.indexCover + section {
    margin-top: 5rem;
}

body > section.indexCover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-image: url("../images/indexCoverBG.jpg");
    background-size: cover;
}

body > section.indexCover {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    color: var(--lightTextColor);
}

.loading {
    border: 0.2rem solid var(--accentColorLighter);
    border-top: 0.2rem solid var(--accentColor);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.error-message {
    color: var(--cancelColor);
    font-size: 0.9em;

}

.petGrid {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    align-items: center;
    grid-gap: 2rem;
}

.petGrid > .arrow {
    cursor: pointer;
}

.arrow {
    width: 1rem;
    height: 1rem;
    border-top: 0.25rem solid var(--darkTextColor);
    border-right: 0.25rem solid var(--darkTextColor);
}

.arrow:before {
    width: 1rem;
    height: 1rem;
    content: '';
}

.arrow.right {
    transform: rotate(45deg);
}
.arrow.left {
    transform: rotate(-135deg);
}

.petGridContent {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

#petResults article.tile {
    width: 100%;
}

article.tile {
    width: 20%;
    border: 1px solid rgb(209, 209, 209);
    display: inline-block;
    margin-right: 1rem;
    border-radius: 1rem;
    vertical-align: top;
}

article.tile:hover .tagLabel {
    background-color: var(--accentColorDarker);
}

article.tile .tagLabel {
    display: inline;
}

article.tile > .image ~ * {
    margin: 1rem;
}

article.tile article:last-of-type {
    margin: 0;
}

article.tile > .image {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-size: cover;
    background-position: 50% 50%;
    height: 10rem;
    width: 100%;
    content: '';

}
body {
    position: relative;
}
body > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body > footer > p {
    background-color: var(--footerBottomColor);
    color: var(--lightTextColor);
    padding: 1.5rem var(--rightLeftPadding) 1.5rem var(--rightLeftPadding);
    margin-bottom: 0;
    margin-top: 0;
}

body > footer > div {
    padding: 3rem var(--rightLeftPadding) 3rem var(--rightLeftPadding);
    background-color: var(--footerTopColor);
    color: var(--lightTextColor);
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
}

body > footer > div > section > nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body > footer > div > nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body > footer > div > nav > ul > li > a{
    color: var(--lightTextColor);
    text-decoration: none;
}

body > footer > div > section > nav > ul > li > a{
    color: var(--lightTextColor);
    text-decoration: none;
}

body > footer a:hover {
    color: var(--accentColor);
}

#footerMainMenu > ul > li {
    margin-bottom: 0.3em;
}

#footerContactUs > header > h3 {
    color: var(--accentColor);
}

#footerSessionMenu {
    margin-top: 2em;
}

#footerSessionMenu > ul {
    display: flex;
}

#footerSessionMenu > ul > li::after{
    content: "\00a0\00a0\00a0/\00a0\00a0\00a0";
}
#footerSessionMenu > ul > li:last-child::after{
    content: "";
}

.simple-2column-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.simple-2column-grid > div.formField {
    margin-bottom: 0;
}


/* * {
    border: 1px solid;
} */

@media (max-width: 1000px) {
    body {
        --rightLeftPadding: 8vw;
    }
}

@media (max-width: 1100px) {
    body > header {
        grid-template-columns: 1fr auto;
        grid-row-gap: 0;
    }

    body > header > nav:last-child {
        text-align: center;
    }
    body > header > label {
        cursor: pointer;
    }
    body > header input {
        display: none;
    }

    body > header * {
        padding: 0;
    }

    body > header > a > h1 {
        display: inline-block;
        margin-bottom: none;
    }
    body > header > label {
        display: inline-block;
        font-size: 2rem;
    }

    body > header > input ~ nav {
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
        grid-column-end: span 2;
        text-align: center;
    }
    body > header > input ~ nav > ul > li {
        display: block;
        margin: 0.4rem 0;
    }
    body > header input:checked ~ nav  {
        visibility: visible;
        max-height: 10rem;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    body {
        --rightLeftPadding: 5vw;
        overflow-x: hidden;
    }

    body > section.indexCover {
        display: block;
    }

    .petGrid {
        display: block;
    }

    .petGrid > .petGridContent {
        white-space: wrap;
        overflow-x: hidden;
        align-items: stretch;
    }

    .petGrid > .petGridContent > a.tileContainer {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    article.tile {
        display: block;
        width: 100%;
        white-space: wrap;
    }

    .petGrid > .petGridContent > * {
        flex-shrink: 0;
    }

    .petGrid .arrow {
        display: none;
    }

    #indexPets {
        margin-bottom: 0;
    }

    body > section.simpleGrid.inverse {
        grid-template-columns: 1fr;
    }

    section.simpleGrid.inverse > img {
        grid-row-start: 1;
        grid-row-end: 2;

    }

    body > footer > div {
        display: block;
    }
}

