@import url("../../style.css");

.profile_header {
    display: flex;
    padding-left: calc(var(--rightLeftPadding) + 5vw);
    padding-right: calc(var(--rightLeftPadding) + 5vw);
}

.profile_header > img {
    flex-basis: 35rem;
    border-radius: 50%;
    max-width: 12.5%;
    height: auto;
    margin-right: 3rem;
}

.profile_header > div {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "text button";
}

.profile_header > div > footer {
    grid-area: button;
}

.profile_header > div > footer > a.simpleButton {
    float: center;
    text-align: center;
    margin-left: 2rem;
}


* {
    /*border: solid; */
}