@import url("../../style.css");

.profile_header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 2rem;
    align-items: center;

    padding-left: calc(var(--rightLeftPadding) );
    padding-right: calc(var(--rightLeftPadding) );
}

.profile_header > img {
    border-radius: 50%;
    max-width: 10vw;
    height: 10vw;
}

.petlist {
    padding-top: 0;
}

#list-select {
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    margin: auto 1rem;
    font-family: 'Lora', serif;

    /* no default arrow*/
    /*appearance: none;*/
}


#list-select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

#list-select option:hover {
    background-color: #333333;
}

#select {
    display: flex;
    align-items: center;
}

* {
    /*border: 1px solid;*/
}